 .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        align-items: stretch;
        justify-content: center;
        
      }

  

.column {
    position: relative;
  }
  
  
  
  .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  * {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}



h2 {
    color:#4aaaa5;
    border-bottom-style: ridge;
    padding: 15px 5px;
}

.btn-new {
    background-color: #4aaaa5;
    color: #ffffff;
}

.body {
    background-image: url("dust_scratches.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    background-color: #666666;
    border-top: solid 7px;
    border-top-color: #4aaaa5;
 }

